{{ $url := urls.Parse .Site.BaseURL }}
<a href="{{ $url }}"><img src="/pve-cloud-init-creator/img/proxmox-logo-stacked-inverted-color.svg"></i></a>
<div style='font-weight: bold; color: #fff'>Cloud-Init Creator</div>
